.idea
*.zip
FitNesseRoot/files
FitNesseRoot/ErrorLogs
FitNesseRoot/FitNesse
FitNesseRoot/RecentChanges
out
cleancoderscom.iml
fitnesse-standalone.jar
target
*camtasia
.DS_Store
.lein-failures
dbasiktest.iml~origin_master
FitNesseRoot/FrontPage/
FitNesseRoot/PageFooter/
FitNesseRoot/PageHeader/
FitNesseRoot/PlugIns/
FitNesseRoot/RecentChanges.wiki
FitNesseRoot/TemplateLibrary/
FitNesseRoot/content.txt
FitNesseRoot/properties
FitNesseRoot/properties.xml
.classpath
.settings
.~*
